body {
  margin: 0;
  padding: 0;
  font-family: Verdana, sans-serif;
}

.main {
 overflow: hidden;
}

header {
  display: flex;
  padding: 0 16px;
}

header h1 {
  margin: 0;
  font-size: 22px;
  line-height: 64px;
}

.sp-menu {
  margin-left: auto;
  position: absolute;
  right: 5%;
  top: 5px;
  z-index: 2000;
  color: white;
  position: fixed;
}

.sp-menu #open {
  font-size: 32px;
  line-height: 64px;
  cursor: pointer;
}

.sp-menu #open.hide {
  display: none;
}

main {
  padding: 0 16px;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  right:0;
  left: 0;
  background:rgba(34,34,34,95%);
  padding: 64px;
  opacity: 0;
  pointer-events: none;
  transition: opacity .6s;
  z-index: 3000;
  width: 30%;
  height: 900px;
  margin-left: auto;
  padding: 0;
}

.overlay.show {
  opacity: 1;
  pointer-events: auto;
}

.overlay #close {
  position: absolute;
  top: 20px;
  right: 17%;
  font-size: 32px;
  cursor: pointer;
  color: white;
}

.overlay ul {
  list-style-type: none;
  margin: 0;
  padding: 0;

}

.overlay li {
  margin-top: 24px;
  opacity: 0;
  /* transform: translateY(16px); */
  transition: transform .7s;
  text-align: center;
}

.overlay.show li {
  opacity: 1;
  transform: none;
}

.overlay a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  position: relative;
  display: inline-block;
  text-decoration: none;
}

.overlay a::after {
  position: absolute;
  bottom: -4px;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background: white;
  transform: scale(0, 1);
  transform-origin: center top;
  transition: transform .3s;
}

.overlay a:hover::after {
  transform: scale(1, 1);
}

.overlay.show li:nth-child(1) {
  transition-delay: .1s;
  padding-top: 160px;
}

.overlay.show li:nth-child(2) {
  transition-delay: .2s;
}

.overlay.show li:nth-child(3) {
  transition-delay: .3s;
}

.overlay.show li:nth-child(4) {
  transition-delay: .4s;
}

.overlay.show li:nth-child(5) {
  transition-delay: .5s;
}

.pc-menu {
  display: none;
}

/* ここまでハンバーガーメニュー */

.logo {
  position: absolute;
  left: 7%;
  top: 30px;
  z-index: 2000;
}


.header {
  padding: 0;
}

.header-img {
  background-image: url(../img/photo-of-people-looking-on-tablet-1.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0;
  position: relative;
  padding: 0;
  margin: 0;
  width: 80%;
  height: 640px;
  z-index: 2000;
}

.header-bk {
  background-color: #222222;
  width: 45%;
  height: 740px;
  position: absolute;
  right: 0;
  z-index: 1;
}

/* .header-title {
  font-size: 20px;
  font-family: YuGothic;
  z-index: 2000;
  color: white;
  position: absolute;
  top: 100px;
  left: 200px;
} */


.header-logo {
  position: absolute;
  top: 220px;
  right: 110px;
  /* left: 200px; */
  z-index: 2000;
  color: white;
  font-size: 72px;
  line-height: 75px;
}

.header-sub {
  font-size: 23px;
  font-family: Montserrat Medium;
  z-index: 2000;
  color: white;
  position: absolute;
  top: 75px;
  right: 238px;
  white-space: nowrap;
  /* left: 100px; */
}
/* ここまでヘッダー */

.required:after {
  margin-left: 1.0em;
  padding: 0px 6px 0px 6px;
  border-radius: 4px;
  font-size: 0.6em;
  color: white;
  background-color: #C44;
  content: "必須";
}

.contact-form {
  padding: 200px 20% 0 20%;
}

.contact-title {
  font-size: 18px;
}

.required {
  padding-top: 30px;
}

#rendou {
  width: 100%;
}

#comment {
  resize: none;
  width: 100%;
  height: 200px;

}

.private {
  height: 350px;
  overflow-y: auto;
  border: 1px solid black;
  padding: 10px;
}

.agree {
  text-align: center;
  margin-top: 40px;
}

.btn {
  margin: 0 auto;
  margin-top: 40px;
  text-decoration: none;
  background: black;
  color: white;
  display: block;
  width: 160px;
  text-align: center;
  height: 36px;
  line-height: 36px;
}

.btn:hover {
  opacity: 0.8;
}

.footer {
  width: 100%;
  height: 50px;
  margin-top: 120px;
  background-color: #525252;
  /* margin-top: 120px; */
}

.footer-logo {
  text-align: center;
  line-height: 50px;
  font-size: 10px;
  color: white;
}

@media screen and (max-width: 960px) {
  .header-img {
    /* background-image: url(../img/the-honest-company-uM-WXMr-3.png); */
    background-size: cover;
    background-position: center;
    /* object-fit: cover; */
    height: 890px;
  }

  .header-title {
    right: 100px;
  }

  .header-sub {
    right: 228px;
  }

  .header-logo {
    right: 70px;
    white-space: nowrap;
  }

  .header-bk {
    height: 1000px;
  }

  .contact-form {
    padding: 200px 10% 0 10%;
  }
  
}

@media screen and (max-width: 640px) {
  .contact-form {
    padding: 200px 10% 0 10%;
  }
  
}

@media screen and (max-width: 400px) {
  .header-title {
    left: 0;
    font-size: 16px;
  }
  
  .header-sub {
    left: 0;
    font-size: 16px;
    top: 140px;
  }
  
  .header-logo {
    left: 0;
    font-size: 50px;
    white-space: nowrap;
  }

  .contact-form {
    padding: 200px 5% 0 5%;
  }


}